:root {
  --primary-font: "Roboto", "Arial", sans-serif;
  --text-color: hsl(234, 29%, 20%);
  --background-color: hsl(235, 18%, 26%);
  --light-color: hsl(0, 0%, 100%);
  --gradient-color: linear-gradient(
    to right,
    hsla(350, 100%, 67%, 1),
    hsla(12, 100%, 63%, 1)
  );
  --shadow-color: hsla(0, 100%, 53%, 0.4);
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  font-family: var(--primary-font);
  color: var(--text-color);
  background-color: var(--background-color);
}

.main {
  width: 20rem;
  padding: 2.5rem 3.125rem 2.5rem 3.125rem;
  background-color: var(--light-color);
  border-radius: 2rem;
}

.success__image {
  height: 3.125rem;
}

.success__title {
  margin: 1.25rem 0;
  font-size: 2.8125rem;
}

.success__description {
  font-size: .875rem;
  line-height: 1.3rem;
}

.success__email,
.success__button {
  font-weight: bold;
}

.success__button {
  display: flex;
  justify-content: center;
  margin: 2.5rem 0 .9375rem 0;
  padding: .9375rem 0;
  font-size: .875rem;
  text-decoration: none;
  color: var(--light-color);
  background-color: var(--text-color);
  border-radius: .3125rem;
  transition: box-shadow 0.3s;
}

.success__button:hover {
  border: none;
  background-image: var(--gradient-color);
  box-shadow: 0 .625rem 1.25rem 0 var(--shadow-color);
}

@media screen and (max-width: 430px) {
  .main {
    position: static;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 1.875rem;
    border-radius: 0;
  }

  .success {
    margin-bottom: 100px;
  }

  .success__image {
    margin-bottom: 1.25rem;
  }

  .success__title {
    margin-top: 0;
  }

  .success__description {
    margin-top: 0;
  }

  .success__button {
    position: absolute;
    bottom: 3.125rem;
    width: 84%;
    margin: 0;
  }
}
