html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  font-family: "Roboto", "Roboto", sans-serif;
  background-color: hsl(235, 18%, 26%);
}

main {
  display: flex;
  width: 815px;
  height: 550px;
  background-color: white;
  border-radius: 1.5rem;
}

.newsletter-info {
  width: 370px;
  margin: 30px 0 20px 60px;
}

.newsletter-info h1 {
  font-size: 45px;
  color: hsl(234, 29%, 20%);
}

.newsletter-info p {
  margin-bottom: 0;
  line-height: 1.4;
}

.newsletter-info ol {
  margin-top: 20px;
  padding: 0;
  line-height: 2.3rem;
  list-style-type: none;
}

.newsletter-info ol li {
  padding: 0 0 10px 35px;
  line-height: 1.5rem;
  background-image: url(./assets/images/icon-list.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.newsletter-info p,
.newsletter-info ol {
  font-size: 15px;
  color: hsl(234, 29%, 20%);
}

.form-wrapper {
  margin-top: 30px;
}

.form-wrapper p {
  position: relative;
  width: 90%;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
}

span {
  position: absolute;
  right: 0;
  color: rgba(255, 85, 114, 255);
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

input[type="email"] {
  margin-bottom: 20px;
  padding: 15px 0 15px 20px;
  border: 1px solid lightgray;
  border-radius: 7px;
  outline: none;
}

input[type="email"]:hover {
  cursor: pointer;
}

input[type="email"]:valid {
  color: rgba(255, 85, 114, 255);
  background-color: rgba(255, 85, 114, 0.1);
  border-color: rgba(255, 85, 114, 255);
}

input[type="submit"] {
  margin-bottom: 20px;
  padding: 15px 0;
  font-size: 14px;
  font-weight: 700;
  color: white;
  background-color: hsl(234, 29%, 20%);
  border: 1px solid;
  border-radius: 7px;
  transition: box-shadow 0.5s;
}

input[type="submit"]:hover {
  cursor: pointer;
  border: none;
  background-image: linear-gradient(
    to right,
    rgba(255, 85, 114, 255),
    rgba(255, 103, 66, 255)
  );
  box-shadow: 0px 10px 20px 0px rgba(255, 16, 16, 0.4);
}

.pic-wrapper {
  width: 40%;
  margin: 20px;
}

img {
  height: 100%;
}

@media screen and (max-width: 820px) {
  main {
    width: 620px;
    height: 460px;
  }

  .newsletter-info {
    width: auto;
    margin-top: 40px;
    padding: 0;
  }

  .newsletter-info h1 {
    margin-top: 0;
    font-size: 32px;
  }

  .newsletter-info p,
  .newsletter-info ol {
    width: 95%;
    font-size: 13px;
  }

  .newsletter-info ol li{
    line-height: 1.2rem;
  }

  .form-wrapper {
    margin-top: 20px;
  }

  .form-wrapper p {
    font-size: 11px;
  }

  input[type="email"] {
    margin-bottom: 10px;
    padding: 10px 0 10px 15px;
    font-size: 11px;
  }

  input[type="submit"] {
    padding: 10px 0;
    font-size: 11px;
  }

  .pic-wrapper {
    width: 70%;
    height: 92%;
    margin: 20px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 625px) {
  html,
  body {
    width: 100%;
    height: auto;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 0;
  }

  .newsletter-info {
    width: 88%;
    height: 100%;
    margin: 50px auto 20px;
    padding: 0;
    order: 2;
  }

  .newsletter-info h1 {
    font-size: 45px;
  }

  .newsletter-info p,
  .newsletter-info ol {
    width: 95%;
    font-size: 15px;
  }

  .newsletter-info ol li {
    padding-bottom: 10px;
    line-height: 1.7;
  }

  .form-wrapper {
    width: 100%;
  }

  .form-wrapper p {
    width: 100%;
    font-size: 13px;
  }

  span {
    position: absolute;
    right: 0;
    padding-left: 0;
  }

  form {
    width: 100%;
  }

  input[type="email"] {
    padding: 15px 0 15px 20px;
    font-size: 13px;
  }

  input[type="submit"] {
    padding: 15px 0;
    font-size: 14px;
  }

  .pic-wrapper {
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0;
    order: 1;
  }
}
