:root {
  --primary-font: "Roboto", "Arial", sans-serif;
  --background-color: hsl(235, 18%, 26%);
  --text-color: hsl(234, 29%, 20%);
  --input-valid-color: hsl(350, 100%, 67%);
  --orange-color: hsl(12, 100%, 63%);
  --light-color: hsl(0, 0%, 100%);
  --lightgray-color: hsl(0, 0%, 83%);
  --shadow-color: hsla(0, 100%, 53%, 0.4);
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  font-family: var(--primary-font);
  background-color: var(--background-color);
}

.main {
  display: flex;
  width: 50.93rem;
  height: 34.375rem;
  background-color: var(--light-color);
  border-radius: 1.5rem;
}

.newsletter {
  width: 23.125rem;
  margin: 1.875rem 0 1.25rem 3.75rem;
}

.newsletter__title,
.newsletter__description,
.newsletter__list {
  color: var(--text-color);
}

.newsletter__description,
.newsletter__list {
  font-size: .9375rem;
}

.newsletter__title {
  font-size: 2.8125rem;
}

.newsletter__description {
  margin-bottom: 0;
  line-height: 1.3rem;
}

.newsletter__list {
  margin-top: 1.25rem;
  padding: 0;
  line-height: 2.3rem;
  list-style-type: none;
}

.newsletter__item {
  padding: 0 0 .625rem 2.1875rem;
  line-height: 1.5rem;
  background-image: url(./images/icon-list.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.form {
  margin-top: 1.875rem;
}

.form__title {
  position: relative;
  width: 90%;
  margin-bottom: .3125rem;
  font-size: .8125rem;
  font-weight: bold;
}

.form__error-text {
  position: absolute;
  right: 0;
  color: var(--input-valid-color);
}

.form__body {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.form__input,
.form__submit {
  margin-bottom: 1.25rem;
  padding: 0.9375rem 0;
  border-radius: 0.4375rem;
}

.form__input {
  padding-left: 1.25rem;
  border: .0625rem solid var(--lightgray-color);
  outline: none;
}

.form__submit {
  font-size: .875rem;
  font-weight: 700;
  color: var(--light-color);
  background-color: var(--text-color);
  border: .0625rem solid;
  transition: box-shadow 0.5s;
}

.form__input:hover,
.form__submit:hover {
  cursor: pointer;
}

.form__submit:hover {
  border: none;
  background-image: linear-gradient(
    to right,
    var(--input-valid-color),
    var(--orange-color)
  );
  box-shadow: 0rem .625rem 1.25rem 0rem var(--shadow-color);
}

.pic {
  width: 40%;
  margin: 1.25rem;
}

.pic__image {
  height: 100%;
}

@media screen and (max-width: 820px) {
  .main {
    width: 38.75rem;
    height: 28.75rem;
  }

  .newsletter {
    width: auto;
    margin-top: 2.5rem;
    padding: 0;
  }

  .newsletter__title {
    margin-top: 0;
    font-size: 2rem;
  }

  .newsletter__description,
  .newsletter__list {
    width: 95%;
    font-size: .8125rem;
  }

  .newsletter__item {
    line-height: 1.2rem;
  }

  .form {
    margin-top: 1.25rem;
  }

  .form__title {
    font-size: .6875rem;
  }

  .form__input {
    margin-bottom: .625rem;
    padding: .625rem 0 .625rem .9375rem;
    font-size: .6875rem;
  }

  .form__submit {
    padding: .625rem 0;
    font-size: .6875rem;
  }

  .pic {
    width: 70%;
    height: 92%;
    margin: 1.25rem;
  }

  .pic__image {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 625px) {
  html,
  body,
  .main,
  .form,
  .form__body,
  .form__title,
  .pic {
    width: 100%;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: 0;
  }

  .newsletter {
    width: 88%;
    height: 100%;
    margin: 3.125rem auto 1.25rem;
    padding: 0;
    order: 2;
  }

  .newsletter__title {
    font-size: 2.8125rem;
  }

  .newsletter__description,
  .newsletter__list {
    width: 95%;
    font-size: .9375rem;
  }

  .newsletter__item {
    padding-bottom: .625rem;
    line-height: 1.6rem;
  }

  .form__title {
    font-size: .8125rem;
  }

  .form__error-text {
    position: absolute;
    right: 0;
    padding-left: 0;
  }

  .form__input {
    padding: .9375rem 0 .9375rem 1.25rem;
    font-size: .8125rem;
  }

  .form__submit {
    padding: .9375rem 0;
    font-size: .875rem;
  }

  .pic {
    height: auto;
    margin: 0;
    border-radius: 0;
    order: 1;
  }
}

@media screen and (max-width: 625px) and (max-height: 800px) {
  .main {
    height: max-content;
  }
}