:root {
  --primary-font: "Roboto", "Arial", sans-serif;
  --text-color: hsl(234, 29%, 20%);
  --background-color: hsl(235, 18%, 26%);
  --light-color: hsl(0, 0%, 100%);
  --gradient-color: linear-gradient(
    to right,
    rgba(255, 85, 114, 255),
    rgba(255, 103, 66, 255)
  );
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  font-family: var(--primary-font);
  color: var(--text-color);
  background-color: var(--background-color);
}

main {
  width: 20rem;
  padding: 2.5rem 3.125rem 2.5rem 3.125rem;
  background-color: var(--light-color);
  border-radius: 2rem;
}

img {
  height: 3.125rem;
}

main h1 {
  margin: 1.25rem 0;
  font-size: 2.8125rem;
}

main p {
  font-size: .875rem;
  line-height: 1.3rem;
}

.email-address,
a {
  font-weight: bold;
}

a {
  display: flex;
  justify-content: center;
  margin: 2.5rem 0 .9375rem 0;
  padding: .9375rem 0;
  font-size: .875rem;
  text-decoration: none;
  color: var(--light-color);
  background-color: var(--text-color);
  border-radius: .3125rem;
  transition: box-shadow 0.3s;
}

a:hover {
  border: none;
  background-image: var(--gradient-color);
  box-shadow: rgba(255, 16, 16, 0.4) 0rem .625rem 1.25rem 0rem;
}

@media screen and (max-width: 430px) {
  main {
    position: static;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 1.875rem;
    border-radius: 0;
  }

  section {
    position: relative;
    top: -6.25rem;
  }

  img {
    margin-bottom: 1.25rem;
  }

  main h1 {
    margin-top: 0;
  }

  main p {
    margin-top: 0;
  }

  a {
    position: absolute;
    bottom: 3.125rem;
    width: 84%;
    margin: 0;
  }
}
